{% block subject %}
Активация аккаунта в приложении bood
{% endblock subject %}
{% block text_body %}
{% endblock text_body %}
{% block html_body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Активация аккаунта</title>
</head>
<body style="background-color: #f4f4f4;font-family: Roboto,system-ui,Avenir,Helvetica,Arial,sans-serif">
<div style="
            width: 100%;
            line-height: 60px;
            height: 60px;
            text-align: center;
            background-color: #ffcb14;
">
    <p style="font-size: 30px; font-weight: bold;">🥑 bOOd 🥦</p>
</div>
<h4 style="text-align: center;">
    <p>Привет! 👋</p>
    <p>Ты получил это письмо, поскольку зарегистрировался в приложении 🥑 bOOd 🥦!</p>
</h4>
<p style="text-align: center; margin-top: 50px;">Для завершения активации на <a
        style="outline: none; text-decoration: none; color: black; padding: 2px 1px 0; font-weight: bold;"
        href="https://front.bood.pnpl.tech/">https://front.bood.pnpl.tech/</a>,
    просто перейди по ссылке:</p>
<p style="text-align: center; margin-bottom: 100px;"><a style="
            display: inline-block;
            box-sizing: border-box;
            padding: 0 24px;
            margin: 0 15px 15px 0;
            outline: none;
            border: none;
            border-radius: 10px;
            height: 37px;
            line-height: 37px;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: normal;
            text-decoration: none;
            color: #2c2c2c;
            background-color: #FFCB14;
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation;
            transition: box-shadow .18s ease-out,background .18s ease-out,color .18s ease-out;" href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Активировать
    аккаунт</a></p>
</body>
{% endblock html_body %}